
html,body {     height: 100%;
    }
body {    background: #e8e8e8;}

#content .flagContainer { float: left;  }
#content .flagContainer .leftSc {    top: 50%;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    margin-top: -24px;}

#header {    position: absolute;
    display: block;
    width: 1270px;
    left: 50%;
    margin-left: -635px;}


#content {    position: absolute;
    display: block;
    width: 1270px;
    left: 50%;
    margin-left: -635px; top: 50px; bottom: 0px;    
    background-color: #e8e8e8;}
#content .nav {
    position: absolute;
    width: 245px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background: #F6F6F6;
}
#content .flagContainer {
    position: absolute;
    width: 20px;
    top: 0px;
    left: 245px;
    bottom: 0px;
}
#content .section {
    position: absolute;
    left: 265px;
    top: 0;
    bottom: 0;
    right: 0;
    background: #F6F6F6;
}

/*布局控制*/
#content.layout1 .nav { display: none; }
#content.layout1 .userInfoCont { display: none; }
#content.layout2 .nav { display: none; }
#content.layout2 .flagContainer,#content.layout1 .flagContainer { left: 0px;}
#content.layout2 .section,#content.layout1 .section { left: 0px;}

/*左侧列表*/
#content .nav .clientList {    position: absolute;
    top: 82px;
    bottom: 0px;
    width: 100%;}
#content .nav .waiting-num { background: #fff;}
/*
div.nav{ background: #fff; padding: 0; margin-right: 4px;}
*/


/*.nav{width:245px;float:left;margin-right:5px;padding-top:3px;}*/
/*消息列表*/
.nav .msgInfo{background:url(../img/image0008.png) left center repeat-y #fff;padding:15px 10px 5px 15px;zoom:1}
.nav .msgInfo.line2{background-image:url(../img/image0009.png)}
.nav .msgInfo.state1{background-color:#fffacc;}
.nav .msgInfo:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.nav .msgInfo.select,.nav .msgInfo:hover{background-color:#62c2eb;color:#fff}
.nav .msgInfo .msgType{width:30px;float:left;height:50px;margin:0 5px;}
.nav .panel{width:245px;}
.nav .searchPanel { width:245px;}


/*客户信息*/
#content .section .userInfoCont{ height: 60px;padding: 5px 0px;}
#content .section #chatWarpContainer { position: absolute;bottom: 0px; top: 68px; width: 100%;}
#content .section #chatWarpContainer .chatWarp { position: absolute;bottom: 0px; top: 0px; width: 100%;}
#content .section #chatWarpContainer .chatWarp .tabsCont, 
#content .section #chatWarpContainer .chatWarp .tabsCont .tabs,
#content .section #chatWarpContainer .chatWarp .tabsCont .tabs .uiTab,
#content .section #chatWarpContainer .chatWarp .tabsCont .tabs .uiTab .uiTabBody .uiTabItemBody
{ position: absolute;bottom: 0px; top: 0px;width: 100%;}
#content .section #chatWarpContainer .chatWarp .tabsCont .tabs .uiTab .uiTabHeadOutWrap {

}
#content .section #chatWarpContainer .chatWarp .tabsCont .tabs .uiTab .uiTabBody {
    position: absolute;bottom: 0px; top: 31px;width: 100%; height:auto;
}

#content .section #chatWarpContainer .chatWarp .tab {    position: absolute; left: 0px; top: 0px;}

/*add 2016 02 23 by zhanglizhao 右下角弹框提示*/
.pop-alert-warp{position: fixed;bottom: 0;left: 50%;z-index: 9999999;}
.pop-alert{position: absolute;z-index: 9999999;left: 405px;bottom: 0;width: 230px;      overflow: hidden;}
.pop-alert-warp .pop-alert-list{ height: 157px; overflow: hidden}
.pop-alert-warp .pop-alert-box{position:relative;padding: 0 10px 10px 0;top: 160px;}
.pop-alert-warp .pop-alert-content{border: 1px solid #339dd9;}
.pop-alert-warp .pop-alert-title{padding-left: 10px;line-height: 25px;color: #fff;background: #339dd9;}
.pop-alert-warp .list-content{position: absolute;left: 0;right: 0;bottom: 0;}
.pop-alert-warp .pop-alert-text{position:relative;background: #fff;height: 120px;font-size: 14px;}
.pop-alert-warp .pop-alert-text p{position: absolute;left: 10px;right: 10px;top: 20px;}
.pop-alert-warp .popBotL{    position: absolute;bottom: 3px;left: 0;right: 3px;}
.pop-alert-warp .popContRight{position: absolute;top: 15px;bottom: 10px;right: -2px; width: 12px;padding: 0;background-position: 0 0;}

